<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Currently the inventory have <% item_count %> items. And have <% category_count %> categories.</p>
    <ul>
      
      <li>Item: <% item_count %></li>
      <li>Category: <% category_count %></li>
    </ul>
  </body>
</html>
